* {
	box-sizing: border-box;
}

body {
	background-color: #000000;
	font-family: helvetica, sans-serif;
}
h1,h2 {
	text-align: center;
}

h1, h2 {
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	color:#620396;
	box-sizing: border-box;
}

.container {
	display: block;
	margin: auto;
	max-width:75%;
	padding-top:35px;
	text-align: center;
	height: 200px;
	background-color: #00bbff;
	border-radius: 5px;
}
.questionArea{
	max-width: 90%;
	color: #620396;
	margin-left:auto;
	margin-right:auto;
	padding:10px;

}
.next {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.answerTally {
	color: #620396;
	padding:10px;
}

.correctedAnswer {
	color: #620396;
}